@font-face {
    font-family: blockyFont;
    src: url(../BlockyFont.ttf);
}

body {
    background-color: coral;
}
p.para {
    font-family: blockyFont;
    margin-top: 20%;
    text-indent: 10%;
}
li {
    font-size: medium;
}
h1:hover {
    background-color: white;
}
li.special:hover {
    color: white;
}
li#third {
    font-family: blockyFont;
}