body {
    background-color: coral;
}
.para {
    margin-top: 20%;
    text-indent: 10%;
}
li {
    font-size: medium;
}
h1:hover {
    background-color: white;
}
li.special:hover {
    color: white;
}